# -----------------------------------------------------------------------------
# PYTHON
# -----------------------------------------------------------------------------
*.pyc
*.pyo
__pycache__
.coverage
venv
.venv
env
*.log

# -----------------------------------------------------------------------------
# DJANGO
# -----------------------------------------------------------------------------
/static
/media
*.sqlite3

# -----------------------------------------------------------------------------
# KEYS & SECRETS
# -----------------------------------------------------------------------------
*.pem
*.pub
.env
keys/

# -----------------------------------------------------------------------------
# IDE & EDITORS
# -----------------------------------------------------------------------------
.idea/
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.sublime-*
*.sublime-workspace


# -----------------------------------------------------------------------------
# SYSTEM
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db
*.icloud
*.sock
*.sock.lock

# -----------------------------------------------------------------------------
# PERSONAL CONFIGURATIONS
# -----------------------------------------------------------------------------
settings/local.py

# -----------------------------------------------------------------------------
# TEST / CI
# -----------------------------------------------------------------------------
.pytest_cache
.cache
.claude/
/logs

# -----------------------------------------------------------------------------
# MISC
# -----------------------------------------------------------------------------
*.dump
